table ,td,th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0.5rem;
    margin-left: 23rem;
}
th{
    color: white;
    background-color: green;
    padding: 1rem;
}
td{
    text-align: center;
    background-color: bisque;
}

th:hover{
    background-color: yellow;
    color: black;
}

td:hover{
    background-color: red;
    color: white;
}
h1{
    text-align: center;
    color: tomato;
    
}